html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #333;
}
/* 
.main  {
  margin: 50vh auto;
} */

.container {
  width: 100%;
  margin: 0 auto;
}

/* 
slider
 */

.slides {
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  height: 100vh;
}

.slide {
  width: 100%;
  height: inherit;
  scroll-snap-align: center;
}

.slide-container {
  width: 80%;
  height: inherit;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

/* 
section 1
*/

.verse-song-k {
  margin: 0 auto;
}

.why {
  background-color: thistle;
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  color: #000;
}

.why img {
  width: 400px;
  border-radius: 1rem;
}

.why p {
  color: #d8bdd9;
}

/*
section 2
*/

.me {
  font-size: 150%;
}
