html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* welcome */
.welcome a {
  color: thistle;
}

.welcome img {
  width: 10vw;
  height: auto;
  border-radius: 0.5rem;
  opacity: 0.01;
}

/* 
slider
 */

.slides {
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.slide {
  width: 100%;
  height: inherit;
  scroll-snap-align: center;
}

.slide-container {
  width: 80%;
  height: inherit;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

/* 
section 1
*/

.verse-song-k {
  margin: 0 auto;
}

.why {
  background-color: thistle;
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  color: #000;
}

.why img {
  width: 400px;
  border-radius: 1rem;
}

.why p {
  color: #d8bdd9;
}

/*
section 2
*/

.me {
  font-size: 150%;
}

/* dynamics mandalas */
.mandalas-dynamic {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  transition: opacity 0.8s ease-in;
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: #000;
}

/* dejate querer */
.dejate-querer {
  border: medium solid black;
  padding: 3rem 1rem;
}

.dejate-querer img {
  width: 10vw;
  height: auto;
  filter: brightness(0.5);
  transform: rotate(110deg);
}
