html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: #d8bdd9;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.verse-song-k {
  margin: 0 auto;
}

.why {
  background-color: thistle;
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  color: #000;
}

.why img {
  width: 400px;
  border-radius: 1rem;
}
