:root {
  --main-color: #d8bdd9;
  --color: #fff;
  --bg-color-dark: #222;
  --second-main-color: #d2c3d1;
  --second-color: #333;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color-dark);
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* welcome */
.welcome a {
  color: var(--main-color);
}

.welcome img {
  width: 10vw;
  height: auto;
  border-radius: 0.5rem;
  opacity: 0.01;
}

/* 
slider
 */

.slides {
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.slide {
  width: 100%;
  height: inherit;
  scroll-snap-align: center;
}

.slide-container {
  width: 80%;
  height: inherit;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .slide-container {
    width: 50%;
  }
}

/* 
section 1
*/

.verse-song-k {
  margin: 0 auto;
}

.why {
  background-color: thistle;
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  color: #000;
}

.why img {
  width: 400px;
  border-radius: 1rem;
}

.why p {
  color: var(--main-color);
}

/*
section 2
*/

.me {
  font-size: 150%;
}

/* dynamics mandalas */
.mandalas-dynamic {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  transition: opacity 0.8s ease-in;
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: #000;
}

/* dejate querer */
.dejate-querer {
  border: medium solid #00000050;
  border-radius: 0.5rem;
  padding: 3rem 1rem;
}

.dejate-querer img {
  width: 10vw;
  height: auto;
  filter: brightness(0.3) opacity(0.8);
  transform: rotate(110deg);
}

/* scroll top btn */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vh);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--second-main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.5s ease-in-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
